.categories {
  display: flex;
  flex-direction: column;
}

.category {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
  height: 100px;
}

.category label {
  margin-left: 10px;
}

.subcategory {
  display: none;
  flex-direction: column;
  margin-left: 20px;
}

.sub-category {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 5px;
  margin-left: 10px;
}

.sub-category label {
  margin-left: 10px;
}
