<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{mall/styles/header.css}"></head>
    <link rel="Shortcut Icon" href="home/skih/ouput_logo.png" type="image/x-icon" />
</head>
<body>
<!-- 设置顶部栏 -->
<div class="topnav">
    <a href="index.html">主页</a>
    <a href="mall.html" >商品</a>
    <a href="collect.html">联系我们</a>
    <a href="newList.html">公告</a>
    <a href="#">测试接口</a>
    <a href="#">测试接口</a>
    <div class="topnav-right">
        <a href="#cart">购物车<img src="mall/image/shopping.png" alt="购物车图标" style="width: 25px; height: 25px;vertical-align: middle;"></a>
        <a href="login.html">登录<img src="mall/image/person.png" alt="购物车图标" style="width: 25px; height: 25px;vertical-align: middle;"></a>
    </div>
</div>
</body>
</html>

