<!doctype html>
<html class="no-js" lang="zh-CN">
<head>
        <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Output®白洞｜    首页
 </title>

  <link rel="manifest" href="site.webmanifest">
  <link rel="apple-touch-icon" href="/home/icon.png">
<link rel="Shortcut Icon" href="home/skih/ouput_logo.png" type="image/x-icon" />

  <meta name="theme-color" content="#fafafa">

  <!-- CSS, you gotta have style -->
  <link href="home/css/iconfont.css" rel="stylesheet">
  <link rel="stylesheet" href="home/css/animate.min.css">
  <link rel="stylesheet" href="home/css/styles.css">
    <script src="home/js/wow.min.js"></script>
    <script>
      new WOW().init();
    </script>

    <meta name="keywords" content="">
    <meta name="description" content="">
    <link href="home/css/fullpage.min.css" rel="stylesheet">
    <link rel="Shortcut Icon" href="home/skih/ouput_logo.png" type="image/x-icon" />
</head>
<body>
    <div class="load-content">
      <div class="logo"><img class="rotating" src="home/skih/ouput_logo.png" alt="output"></div>
      <div class="num"><span id="loadNum">05</span>%</div>
      <div class="logo-lofree"><img src="home/skih/ouput_logo.png" alt="output"></div>
    </div>
    <div class="home-mask clip-circle"> <header class="site-header" id="site-header">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-auto"><a class="logo" href="/index"><img id="logo" src="home/skih/outputTitle.png" alt="武汉白洞网络科技工作室"></a></div>
                <div class="col">
                    <div class="row align-items-center">
                        <div class="col-lg">
                            <ul class="mainav">
                                <li class=" active">
                                    <a href="/index" class="" data-id="nav7">
                                        <span class="en">Home</span>
                                        <span class="cn">首页</span>
                                    </a>
                                </li>
                                <li class="hasnav ">
                                    <a href="/mall" class="" data-id="nav31">
                                        <span class="en">Products</span>
                                        <span class="cn">产品</span>
                                    </a>
                                    <ul class="sub-menu parent31">
                                        <li>
                                            <a href="/mall">
                                                <span class="en">Output</span>
                                                <span class="cn">白洞</span>
                                            </a>
                                            <ul class="three-sub-menu">
                                                <li>
                                                    <a href="/mall">
                                                        <span class="en">商品详细</span>
                                                        <span class="cn">商品详细</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="/newList">
                                                        <span class="en">通知公告</span>
                                                        <span class="cn">通知公告</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="hasnav ">
                                    <a href="/collect" class="" data-id="nav1">
                                        <span class="en">About</span>
                                        <span class="cn">关于</span>
                                    </a>
                                    <ul class="sub-menu parent1">
                                        <li>
                                            <a href="/login">
                                                <span class="en">login</span>
                                                <span class="cn">登陆</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/cart">
                                                <span class="en">shop</span>
                                                <span class="cn">购物车</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/collect">
                                                <span class="en">contract</span>
                                                <span class="cn">联系我们</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-auto mobilemenu">
                    <div class="menu-toggle">
                        <div class="one"></div>
                        <div class="two"></div>
                        <div class="three"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="menu-over" id="overmenu">
            <ul class="mobilenav">
                <li class=" active">
                    <a href="/mall" class="" data-id="nav7">Home</a>
                </li>
                <li class="hasnav ">
                    <a href="/mall" class="" data-id="nav31">Products</a>
                    <ul class="sub-menu">
                        <li><a href="/mall">FUN</a></li>
                        <li><a href="/mall">2㎡</a></li>
                    </ul>
                </li>
                <li class="hasnav ">
                    <a href="/mall" class="" data-id="nav1">About</a>
                    <ul class="sub-menu">
                        <li><a href="/mall">about us</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </header>


<div class="page-home"  id="fullpage">
    <section class="s1 section"><video width="300" height="150" class="vid" id="myVideo" webkit-playsinline="" playsinline="" autoplay loop x5-video-player-type="h5-page" x-webkit-airplay="allow" poster="/uploads/images/pages/video-cover.jpg" muted="">
            <source src="https://lofree.oss-cn-shanghai.aliyuncs.com/video-2.m4v" type="video/mp4" />
          </video>
<div class="txt-container">
<div class="container">
<div class="logo-b"><img class="img01 animate__animated" data-animate="animate__fadeInDown" src="home/skih/ouput_logo_new.png" alt="logo" style="height: 200px;width:238px"/></div>
<div class="des"><img class="img02 animate__animated" data-animate="animate__rotateInUpLeft" src="home/skih/home_02.png" alt="fun 2㎡" /></div>
<div class="txt animate__animated" data-animate="animate__fadeInUp">2023<br />重新启航<br /><a href="/mall" class="btn-more">了解更多</a></div>
</div>
</div>
<div class="arrow-scroll">
<div class="arrow-scroll__wrapper"><svg xmlns="http://www.w3.org/2000/svg" width="38" height="18" viewbox="0 0 38 18"> <path fill="#ffffff" d="M19.208,18.592c-0.241,0-0.483-0.087-0.673-0.261L0.327,1.74c-0.408-0.372-0.438-1.004-0.066-1.413c0.372-0.409,1.004-0.439,1.413-0.066L19.208,16.24L36.743,0.261c0.411-0.372,1.042-0.342,1.413,0.066c0.372,0.408,0.343,1.041-0.065,1.413L19.881,18.332C19.691,18.505,19.449,18.592,19.208,18.592z"></path> </svg></div>
</div>
</section>
<section class="s2 section">
<div class="row no-gutters">
<div class="col">
<div class="pic"><img class="img01 animate__animated" data-animate="animate__fadeInDown" src="home/skih/002.png" alt="office 2㎡" /><img class="img02 animate__animated" data-animate="animate__fadeInDown" src="home/skih/home_03.png" alt="office 2㎡" /></div>
<div class="c1">
<div class="txt">
<div class="title animate__animated" data-animate="animate__fadeInUp"><a href="/mall">&ldquo;奶油草莓&rdquo;</a></div>
<p class="animate__animated" data-animate="animate__fadeInUp">春日的<br />粉红艺术</p>
</div>
</div>
</div>
<div class="col"><img class="img03 animate__animated" data-animate="animate__fadeInRight" src="home/skih/home_04.png" alt="loflee" /></div>
<a href="/mall" class="overly_link"> </a></div>
</section>
<section class="s5 section">
<div class="row no-gutters">
<div class="col-7">
<div class="leftcol"><img class="bg animate__animated" data-animate="animate__jackInTheBox" src="home/skih/home_05.png" alt="Marker 2㎡" /> <img class="title animate__animated" data-animate="animate__fadeInLeft" data-delay="animate__delay-1s" src="home/skih/marker2m.png" alt="Marker 2㎡" /></div>
</div>
<div class="col-5">
<div class="rightcol">
<div class="txt">
<div class="title animate__animated" data-animate="animate__fadeInUp"><a href="/mall">&ldquo;黛酥玫瑰&rdquo;</a></div>
<p class="animate__animated" data-animate="animate__fadeInUp">梦开始的起点<br />向新出发</p>
</div>
<div class="pic"><img class="img03 animate__animated" data-animate="animate__fadeInRight" src="home/skih/home_08.jpg" alt="Life 2㎡" /></div>
</div>
</div>
</div>
<a href="/mall" class="overly_link"> </a></section>
<section class="s2 s6 section">
<div class="row no-gutters">
<div class="col">
<div class="pic"><img class="img02 animate__animated" data-animate="animate__fadeInDown" src="home/skih/home_09.png" alt="office 2㎡" /></div>
<div class="c1">
<div class="txt">
<div class="title animate__animated" data-animate="animate__fadeInUp"><a href="/mall">&ldquo;童话&rdquo;</a></div>
<p class="animate__animated" data-animate="animate__fadeInUp">每个人心中<br />都有个秘密城堡</p>
</div>
</div>
</div>
<div class="col">
<div class="rightcol"><img class="img01 animate__animated" data-animate="animate__fadeInDown" src="home/skih/outdoor2m.png" alt="outdoor 2㎡" /> <img class="img03 animate__animated" data-animate="animate__fadeInRight" src="home/skih/home_10.png" alt="loflee" /></div>
</div>
</div>
<a href="/mall" class="overly_link"> </a></section>
<section class="s4 section">
<div class="row no-gutters">
<div class="col-5">
<div class="top">
<div class="pic"><img class="img02 animate__animated" data-animate="animate__jackInTheBox" src="home/skih/home_12.png" alt="Life 2㎡" />
<div class="title-img"><img class="img01 animate__animated" data-animate="animate__fadeInUp" data-delay="animate__delay-1s" src="home/skih/life2m.png" alt="Life 2㎡" /></div>
</div>
</div>
</div>
<div class="col-7"><img class="img03 animate__animated" data-animate="animate__fadeInRight" src="home/skih/home_13.png" alt="Life 2㎡" />
<div class="txt">
<div class="title animate__animated" data-animate="animate__fadeInUp"><a href="/mall">&ldquo;凝雨&rdquo;</a></div>
<p class="animate__animated" data-animate="animate__fadeInUp">夏日炎热<br />清爽一下</p>
</div>
</div>
</div>
<a href="/mall" class="overly_link"> </a></section>
<section class="s3 section">
<div class="row no-gutters align-items-center">
<div class="col-8"><img class="img01 animate__animated" data-animate="animate__fadeInLeft" src="home/skih/home_14.JPG" alt="Markup 2㎡" />
<div class="txt">
<div class="title animate__animated" data-animate="animate__fadeInRight"><a href="/mall">&ldquo;夏之梦&rdquo;</a></div>
<p class="animate__animated" data-animate="animate__fadeInRight">绚烂的花朵，<br />为你盛开</p>
</div>
</div>
<div class="col-4">
<div class="pic"><img class="img02 animate__animated" data-animate="animate__jackInTheBox" src="home/skih/home_15.JPG" alt="Markup 2㎡" />
<div class="img01"><img class="animate__animated" data-animate="animate__fadeInDown" data-delay="animate__delay-1s" src="home/skih/markeup2m.png" alt="Markup 2㎡" /></div>
</div>
</div>
</div>

<a href="/mall" class="overly_link"> </a></section>
<div class="section fp-auto-height s7">
<div class="container pt-media-3 pb-media-3">
<div class="row align-items-center">
<footer>
<div class="col-lg"><img class="logo_bot" src="home/skih/outputTitle.png" alt="logo" style="width: 100px"/>
<P>做一个不断输出创意的客制化品牌</P></div>


<div class="footer_con">
<p>Business@output.com</p>
<p>售前售后联系QQ：1587892646</p>

</div>
<div class="footer_nav">
<ul>
<li class="n2"><a href="/index">主页</a></li>
<li class="n2"><a href="/personal">个人中心</a></li>
<li class="n2"><a href="/cart">购物车</a></li>
</ul>

<ul>
<li class="n1"><a href="/mall">商品</a></li>
<li class="n2"><a href="/collect">联系我们</a></li>
</ul>


<ul>
<li class="n1"><a href="/collect">关于</a></li>
</ul>


</div>
</footer>
</div>
</div>
</div>
</div>

    <a class="toTop" id="toTop" href="javascript:void(0);"><i class="iconfont icon-top"></i></a>
    </div>
    <script src="home/js/modernizr-3.7.1.min.js"></script>
    <script src="home/js/jquery-1.12.4.min.js"></script>
    <script src="home/js/wow.min.js"></script>
    <script src="home/js/app.js"></script>


    <script src="home/js/jquery.waitforimages.min.js"></script>
    <script src="home/js/fullpage.min.js"></script>
    <script>

      $(function () {
          //- $('body').addClass('home-body');
          $('body').waitForImages(function() {
              // alert('All images have loaded.');
          }, function(loaded, count, success) {
              //alert(loaded + ' of ' + count + ' images has ' + (success ? 'loaded' : 'failed to load') +  '.');
              var result = (loaded+1) / count * 100;
              $('#loadNum').text(Math.round(result));

              $('.load-content').fadeOut();
              $('.home-mask, .load-content').addClass('loaded');
          });

          $('.s1').on('click touchstart', function () {
              const videoElement = document.getElementById('myVideo');
              if (videoElement.playing) {
                  // video is already playing so do nothing
              }
              else {
                  // video is not playing
                  // so play video now
                  videoElement.play();
              }
          });

         $('#fullpage').fullpage({
               //options here
              licenseKey: "750A6298-E6DA42F7-9B37E662-7341082F",
                sectionsColor: ['#000', '#000', '#000', '#000', '#000', '#000', '#000'],
          //    anchors: ['firstPage', 'secondPage', 'thirdPage', 'fourthPage', 'lastPage'],
          //    menu: '#myMenu',
              //- fadingEffect: true,
              //- fadingEffectKey: 'YWx2YXJvdHJpZ28uY29tXzAzN1ptRmthVzVuUldabVpXTjBiNXo=',
              scrollingSpeed: 1000,
              afterLoad: function (origin, destination, direction) {
                   // var loadedSection = this;
                   // console.log(loadedSection);
                   // console.log(destination.item);
                  if(destination.index != 6){
                        var orEls = $(origin.item).find(".animate__animated");
                        orEls.each(function () {

                            var orEffect = $(this).attr("data-animate");
                            if($(this).attr("data-delay")){
                                    var orDelay = $(this).attr("data-delay");
                                    $(this).removeClass(orDelay);
                            }

                            $(this).removeClass(orEffect);

                        });
                    }


                  var els = $(destination.item).find(".animate__animated");
                  els.each(function () {
                      var effect = $(this).attr("data-animate");
                      if($(this).attr("data-delay")){
                          var delay = $(this).attr("data-delay");
                           $(this).addClass(delay);
                      }

                      $(this).addClass(effect);


                  });

                  if (destination.index == 0 && origin.index==1) {
                      var x = document.getElementById("myVideo");
                       x.play();
                      function playVid() {
                          x.play();
                      }

                      function pauseVid() {
                          x.pause();
                      }
                  }

             }
          });
      });
    </script>
    </body>
</html>
