<!DOCTYPE html>
<html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>商品选择页面</title>
    <link rel="stylesheet" th:href="@{mall/styles/mall.css}">
    <link rel="stylesheet" th:href="@{mall/styles/page.css}">
    <link rel="stylesheet" th:href="@{mall/styles/search.css}">
    <link rel="Shortcut Icon" href="home/skih/ouput_logo.png" type="image/x-icon" />
</head>
<body>
<div id="noLoginHeader"><header  th:replace="header::body"></header></div>
<div id="loginHeader"><header  th:replace="header_login::body"></header></div>
<div class="middle">
    <div class="left">
        <h2>查找</h2>
        <input type="text" placeholder="关键字搜索" id="searchInput" style="width: 250px;height: 40px" >
        <button class="" style="width: 60px;height: 45px;" id="searchButton" onclick="search()">搜索</button>
        <h2><label for="category1" >选择商品类别</label></h2>
        <select id="category1" style="
    height: 52.133340000000004px;
    width: 250px;
">
            <option value="0" >请选择</option>
            <option value="10" >键盘</option>
            <option value="11" >键帽</option>
        </select>
        <button class="" style="width: 60px;height: 45px;" id="searchButton1" onclick="search()">分类</button>
        <button class="" style="width: 60px;height: 45px;" id="reset" onclick="search()">重置</button>




    </div>
    <div class="right" id="products">
    </div>

</div>


<!--分页-->
<div class="pages" style="height: 50px;margin-top: 35px;margin-bottom: 20px;text-align: center;">
    <div class="page_wrap">
        <button class="" style="width: 60px;height: 45px;color: #fff;" id="front" onclick="front()">上一页</button>
        <button class="" style="width: 60px;height: 45px;color: #fff;" id="now"></button>
        <button class="" style="width: 60px;height: 45px;color: #fff;" id="totalPage"></button>
        <button class="" style="width: 60px;height: 45px;color: #fff;" id="next" onclick="next()">下一页</button>
    </div>
</div>

<footer th:replace="footer::body"></footer>

<!-- jQuery -->
<script th:src="@{/admin/plugins/jquery/jquery.min.js}"></script>
<!-- Bootstrap 3 -->
<script th:src="@{/mall/js/bootstrap3.js}"></script>
<script th:src="@{/mall/js/search.js}" type="text/javascript"></script>
<script th:src="@{/admin/plugins/sweetalert2/sweetalert2.all.min.js}"></script>
<script  type="text/javascript">
    window.onload=function(){
        if(sessionStorage.length>3){
            // document.getElementById("noLoginHeader").style.visibility="visible"
            // document.getElementById("loginHeader").style.visibility="hidden"
            console.log("LoginHeader")
            $("#noLoginHeader").hide()
            $("#loginHeader").show()
        }else{
            // document.getElementById("noLoginHeader").style.visibility="visible"
            // document.getElementById("loginHeader").style.visibility="hidden"
            console.log("noLoginHeader")
            $("#noLoginHeader").show()
            $("#loginHeader").hide()
        }
    }
    const products = document.querySelectorAll('.product');
    products.forEach(product => {
        product.addEventListener('click', () => {
            window.location.href = product.querySelector('a').href;
        });
    });

    const buttons = document.querySelectorAll('button, a');
    buttons.forEach(button => {
        button.addEventListener('mouseover', () => {
            button.classList.add('active');
        });

        button.addEventListener('mouseout', () => {
            button.classList.remove('active');
        });
    });

    //刷新数据
    var data = {
        "page": 1,
        "limit": 10,

    };
    $.ajax({
        type: 'GET',//方法类型
        url: 'http://175.178.153.116:8080/goods/list',
        // contentType: 'application/json',
        // data: JSON.stringify(data),
        data:data,
        success: function (result) {
            if (result.resultCode == 200) {
                console.log(result);
                var cacHtml = "";
                var cacList=result.data.list;
                /****forEach循环****/

                cacList.forEach(e => {
                    cacHtml += `        <div class="product">

                                    <a  href="/goods/detail/${e.goodsId}">
                                    <img scr=${e.goodsCoverImg} alt="${e.goodsId}"
                                    <p id=${e.goodsId}></p>${e.goodsName}
                                    </a>
                                    </div>` ;
                })

                document.getElementById('products').innerHTML = cacHtml;

            };
        },
        error: function () {
            Swal.fire({
                text: '操作失败',
                icon: "error",iconColor:"#f05b72",
            });
        }
    });




    document.getElementById("reset").onclick=function (){
        location.reload();
    }


    document.getElementById("searchButton").onclick=function (){
        var searchData = {
            "page": 1,
            "limit": 10,
            "keyword": document.getElementById("searchInput").value

        };
        $.ajax({
            type: 'GET',//方法类型
            url: 'http://175.178.153.116:8080/search',
            // contentType: 'application/json',
            // data: JSON.stringify(data),
            data: searchData,
            success: function (result) {
                var cacHtml = "";
                var cacList=result.data.list;
                /****forEach循环****/
                console.log(searchData)
                console.log(result)
                cacList.forEach(e => {
                    cacHtml += `        <div class="product">

                                   <a  href="/goods/detail/${e.goodsId}">
                                    <img scr=${e.goodsCoverImg} alt="${e.goodsId}"
                                    <p id=${e.goodsId}></p>${e.goodsName}
                                    </a>
                                    </div>` ;
                })

                document.getElementById('products').innerHTML = cacHtml;
            }
        })
    }

    //分类框选择
    document.getElementById("searchButton1").onclick=function (){
       var value=document.getElementById("category1").value
        if (value==0) {
            Swal.fire({
                text: '未选择类别，请重新选择',
                icon: "error",iconColor:"#f05b72",
            });
        return}
        var classifyData={
            "page": 1,
            "limit": 10,
            "goodsCategoryId":value,
        }
        $.ajax({
            type: 'GET',//方法类型
            url: 'http://175.178.153.116:8080/search',
            // contentType: 'application/json',
            // data: JSON.stringify(data),
            data: classifyData,
            success: function (result) {
                var cacHtml = "";
                var cacList=result.data.list;
                /****forEach循环****/
                console.log(classifyData)
                console.log(result)
                cacList.forEach(e => {
                    cacHtml += `        <div class="product">

                                     <a  href="/goods/detail/${e.goodsId}">
                                    <img scr=${e.goodsCoverImg} alt="${e.goodsId}"
                                    <p id=${e.goodsId}></p>${e.goodsName}
                                    </a>
                                    </div>` ;
                })

                document.getElementById('products').innerHTML = cacHtml;
            }
        })
    }

    document.getElementById("front").onclick=function () {
        console.log('上一页')
        let upPage = parseInt($("#now").text()) - 1;
        let totalPage = parseInt($("#totalPage").text().slice(1, -1));
        if (upPage < 1) {
            Swal.fire({
                text: '已是第一页',
                icon: "error",iconColor:"#f05b72",
            });
            return
        }
        let data = {
            "page": upPage,
            "limit": 20,

        };
        findData(data)

    }
    document.getElementById("next").onclick=function () {
        console.log('下一页')
        let nextPage = parseInt($("#now").text()) + 1;
        let totalPage = parseInt($("#totalPage").text().slice(1, -1));
        if (nextPage > totalPage) {
            Swal.fire({
                text: '已是最后一页',
                icon: "error",iconColor:"#f05b72",
            });
            return
        }
        let data = {
            "page": nextPage,
            "limit": 20,

        };
        findData(data)

    }

    findData({"page": 1,
        "limit": 20,})
    document.getElementById("front").onclick=function () {
        console.log('上一页')
        let upPage = parseInt($("#now").text()) - 1;
        let totalPage = parseInt($("#totalPage").text().slice(1, -1));
        if (upPage < 1) {
            Swal.fire({
                text: '已是第一页',
                icon: "error",iconColor:"#f05b72",
            });
            return
        }
        let data = {
            "page": upPage,
            "limit": 20,

        };
        findData(data)

    }
    document.getElementById("next").onclick=function () {
        console.log('下一页')
        let nextPage = parseInt($("#now").text()) + 1;
        let totalPage = parseInt($("#totalPage").text().slice(1, -1));
        if (nextPage > totalPage) {
            Swal.fire({
                text: '已是最后一页',
                icon: "error",iconColor:"#f05b72",
            });
            return
        }
        let data = {
            "page": nextPage,
            "limit": 20,

        };
        findData(data)

    }

    findData({"page": 1,
        "limit": 20,})

    function findData(data) {
        $.ajax({
            type: 'GET',//方法类型
            url: 'http://175.178.153.116:8080/news/list',
            // contentType: 'application/json',
            // data: JSON.stringify(data),
            data:data,
            success: function (result) {
                if (result.resultCode == 200) {
                    console.log(result);
                    // var cacHtml = "";
                    var cacHtml2 = "";
                    var cacList=result.data.list;
                    /****forEach循环****/
                    $("#now").text(result.data.currPage);
                    $("#totalPage").text('共' + result.data.totalPage + '页');

                };
            },
            error: function () {
                Swal.fire({
                    text: '操作失败',
                    icon: "error",iconColor:"#f05b72",
                });
            }
        });
    }





</script>
</body>
</html>
