<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<head th:replace="mall/header::head-fragment('商城-商品详情','detail')">-->
</head>
<!--<script th:src="@{/mall/styles/detail.css}"></script>-->
<link rel="stylesheet" th:href="@{'/mall/styles/detail.css'}">
<link rel="stylesheet" th:href="@{/mall/css/swiper-bundle.min.css}">
<link rel="stylesheet" th:href="@{/mall/css/iconfont.css}">
<link rel="stylesheet" th:href="@{/mall/css/common.css}">
<link rel="stylesheet" th:href="@{/admin/plugins/sweetalert2/sweetalert2.min.css}"/>
<body>
<!--<header th:replace="mall/header::header-fragment"></header>-->

<div id="detail">
    <!-- nav -->
<!--    <nav th:replace="mall/header::nav-fragment"></nav>-->
    <nav id="nav" th:fragment="nav-fragment">
        <div class="banner_x center">
            <a th:href="@{/index}" class="logo"><h1>Output商城</h1></a>
            <div class="fr">
                <div class="search">
                    <input class="text" type="text" id="keyword" autocomplete="off">
                    <div class="search_hot">
                    </div>
                </div>
                <div class="button iconfont icon-search" onclick="search()"></div>
            </div>
        </div>
    </nav>
    <div class="dc">
        <div class="content w">
            <div class="title fl">商品详情</div>
            <div class="clear"></div>
        </div>
    </div>

    <div class="intro mt20 w clearfix">
        <div class="left fl" style="position: relative;">
            <div class="swiper-container fl">
                <img th:src="@{${goodsDetail.goodsCoverImg}}">
            </div>
        </div>
        <div class="right fr">
            <div class="h3 mt10" th:text="${goodsDetail.goodsName}">Output</div>
            <div class="sub_title mr40 mt10" th:text="${goodsDetail.goodsIntro}">Output</div>
            <div class="item_price mr40 ml20 mt10">
                <th:block th:text="'¥'+${goodsDetail.sellingPrice}"></th:block>
                <del>
                    <th:block th:text="'¥'+${goodsDetail.originalPrice}"></th:block>
                </del>
            </div>
<!--            <div class="choose">-->
<!--                <ul>-->
<!--                    <li class="list1">-->
<!--                        黑色-->
<!--                    </li>-->
<!--                </ul>-->

<!--            </div>-->

<!--            <div class="purchasenum mt25">-->
<!--                <span>购买数量</span>-->
<!--&lt;!&ndash;                <i class="minus iconfont icon-subtract"&ndash;&gt;-->
<!--                <i class="minus iconfont icon-subtract" id="min" type="button" style="background: url(static/mall/image/jianhao.png)">-->
<!--&lt;!&ndash;                <img th:src="@{/mall/image/jianhao.png}">&ndash;&gt;-->
<!--                </i>-->
<!--                <input type="number" min="1" step="1" value="1">-->
<!--                <i class="plus iconfont icon-jiahao" id="add" type="button" style="background: url(static/mall/image/jiahao.png)">-->
<!--&lt;!&ndash;                    <img th:src="@{/mall/image/jiahao.png}">&ndash;&gt;-->
<!--                </i>-->
<!--            </div>-->
            <div class="purchasenum mt25">
                <input id="min" name="" type="button" value="-" style="width:30px;" />
                <input id="text_box" name="" type="text" value="1" />
                <input id="add" name="" type="button" value="+" style="width:30px;"/>
            </div>

            <div class="order">
                <input class="car" type="button" th:onclick="'saveToCart('+${goodsDetail.goodsId}+')'" value="加入购物车"/>
<!--                <input class="car" type="button" th:onclick="saveToCart()" value="加入购物车"/>-->
                <input class="buy" type="button" th:onclick="'saveAndGoCart('+${goodsDetail.goodsId}+')'" value="立即选购"/>
            </div>
            <div class="tb-extra ml20" id="J_tbExtra">
                <dl>
                    <dt>承诺</dt>
                    <dd><a class="J_Cont" title="满足7天无理由退换货申请的前提下，包邮商品需要买家承担退货邮费，非包邮商品需要买家承担发货和退货邮费。" href="#"
                           target="_blank"><img th:src="@{/mall/image/7d.jpg}">7天无理由</a></dd>
                </dl>
                <dl>
                    <dt>支付</dt>
                    <dd><a href="##" target="_blank"><img th:src="@{/mall/image/hua.png}">蚂蚁花呗</a><a href="##"
                                                                                                     target="_blank"><img
                            th:src="@{/mall/image/weixin.png}">微信支付</a><a href="##" target="_blank"><img
                            th:src="@{/mall/image/zfb.png}">支付宝</a></dd>
                </dl>
                <dl>
                    <dt>支持</dt>
                    <dd>折旧变现，买新更省钱。<a style="float:none;text-decoration: underline;" href="##">详情</a></dd>
                </dl>

            </div>
        </div>
        <div class="clear"></div>
    </div>
    <!-- 这里使用的是 th:utext 标签，用 th:text 不会解析 html，用 th:utext 会解析 html -->
    <div class="goods mt20 w clearfix" th:utext="${goodsDetail.goodsDetailContent}">
    </div>
</div>

<!--<div th:replace="mall/footer::footer-fragment"></div>-->

<!-- jQuery -->
<script th:src="@{/admin/plugins/jquery/jquery.min.js}"></script>
<script th:src="@{/admin/plugins/sweetalert2/sweetalert2.all.min.js}"></script>
<script th:src="@{/mall/js/search.js}" type="text/javascript"></script>
<script type="text/javascript">
    /**
     * 添加到购物车
     */

    function saveToCart(goodsId) {
        var id = sessionStorage.getItem("userId")
        console.log(id)
        var goodsCount = 1;
        // var data = {
        //     "goodsId": id,
        //     "goodsCount": goodsCount
        // };
        var data = {
            "userId": id,
            "goodsId": goodsId,
            "goodsCount": goodsCount
        };
        $.ajax({
            type: 'POST',
            url: 'http://175.178.153.116:8080/cart/save',
            contentType: 'application/json',
            data: JSON.stringify(data),
            success: function (result) {
                if (result.resultCode == 200) {
                    Swal.fire({
                        title: "确认框",
                        text: "添加成功",
                        icon: "success",iconColor:"#1d953f",
                        showCancelButton: true,
                        confirmButtonText: '确认',
                        cancelButtonText: '取消'
                    }).then((flag) => {
                           if (flag.value) {
                                window.location.reload();
                            }
                        }
                    );
                } else {
                    Swal.fire({
                        text: result.message,
                        icon: "error",iconColor:"#f05b72",
                    });
                }
            },
            error: function () {
                Swal.fire({
                    text: "操作失败",
                    icon: "error",iconColor:"#f05b72",
                });
            }
        });
    }

    /**
     * 添加到购物车并跳转至购物车页面
     */
    function saveAndGoCart(goodsId) {
        var id = sessionStorage.getItem("userId")
        console.log(id)
        var goodsCount = 1;
        var data = {
            "userId": id,
            "goodsId": goodsId,
            "goodsCount": goodsCount
        };
        $.ajax({
            type: 'POST',
            url: 'http://175.178.153.116:8080/cart/save',
            contentType: 'application/json',
            data: JSON.stringify(data),
            success: function (result) {
                if (result.resultCode == 200) {
                    Swal.fire({
                        title: "确认框",
                        text: "已将商品加入购物车",
                        icon: "success",iconColor:"#1d953f",
                        showCancelButton: true,
                        confirmButtonText: '去购物车结算',
                        cancelButtonText: '留在当前页'
                    }).then((flag) => {
                            if (flag.value) {
                                window.location.href = '/cart';
                            }
                        }
                    );
                } else {
                    Swal.fire({
                        text: result.message,
                        icon: "error",iconColor:"#f05b72",
                    });
                }
            },
            error: function () {
                Swal.fire({
                    text: "操作失败",
                    icon: "error",iconColor:"#f05b72",
                });
            }
        });
    }
    $(document).ready(function () {
        //获得文本框对象
        var t = $("#text_box");
        //初始化数量为1,并失效减
        $('#min').attr('disabled', true);
        //数量增加操作
        $("#add").click(function () {
            // 给获取的val加上绝对值，避免出现负数
            t.val(Math.abs(parseInt(t.val())) + 1);
            if (parseInt(t.val()) != 1) {
                $('#min').attr('disabled', false);
            };
        })
        //数量减少操作
        $("#min").click(function () {
            t.val(Math.abs(parseInt(t.val())) - 1);
            if (parseInt(t.val()) == 1) {
                $('#min').attr('disabled', true);
            };
        })
    });

</script>
</body>
</html>
